#EditSection {
    width: 360px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

section {
    text-align: center;
}

.mainContent {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 16px 16px 0;
}

h1 {
    text-align: center;
}

main {
    margin-top: 5%;
}
