
.editFields{
    /*float: left;*/
    flex-grow: 5;
    margin: 4%;
}

.buttonSection {
    flex-grow: 10;
    text-align: center;
    margin: 0 4% 4%;
}

.infoButtons{
    flex:100%;
}

textarea{
    resize: none;
    height: 100px;
}

.row {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column;
    }
}

.col {
    flex: 1;
    justify-content: center;
}

label {
    color: #808080;
}

h1 {
    text-align: center;
}