/*
Author: Vittorio Esposito
Author: Gabriele Del Fiume
Version: 1.0
Since: 1.0
 */

#slideshow {
    max-width: 100%;
}

#slideshow img{
    width:100%;
}

.searchbar {
    text-align: center;
    position: relative;
    width: 70%;
    height : 50%;
    margin-left: auto;
    margin-right: auto ;
}

#searchAdv > * {
    margin: 0px 10px 10px 10px;
}
