#loginSection {
    width: 360px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 5%;
}

section {
    text-align: center;
}

.mainContent {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 16px 16px 0;
}

#footer-area {
    positon: absolute;
    bottom: 0px;
    width: 100%;
}