#touristRegistration {
    width: 360px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#companyRegistration {
    width: 360px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#companyornot {
    width: 360px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.label {
    padding-left: 8px;
}

main {
    margin-top: 5%;
}