
section {
    /*width: 360px;*/
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.buttonSection {
    margin: 4%;
    float: left;
}

.usernameTitle {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-weight: bold;
}

.sectionTitle {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-weight: bold;
}

.userInfoSection{
    float: left;
    width: 30%;
    margin : 3%;
}

/*#newAdvButton{*/
/*    width: 30%;*/
/*    margin: 3%;*/
/*}*/

.bookings{
    float:right;
    width: 58%;
    margin : 3%;
}

.infoButtons{
    margin-top: 1%;
    margin-left: 7%;
    margin-bottom: 1%;
}

.listButtons{
    width: 100px;
    height: 48px;
    border-radius: 8px;
}

.titleAdv{
    width: 60%;
}
