

#advTitle{
    color: #3f51b5;
    font-weight: bold;
    color: #333;
    line-height: 1.2;
}

.sectionTitle {
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #333;
}

main {
    font-size: 14px;
    line-height: 1.4;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    color: #333;
}

#createFeedback, #feedbackList, #createBooking, #bookingList , #infoSection, #imageSection{
    margin: 3%;
}

img.mySlides{
    height: 450px;
    max-width: 600px;
}

.advInfoElement{
    width: 600px;
}

#imageSection{
    flex-shrink: 0;
}


.rowAdv {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 800px) {
    .rowAdv {
        flex-direction: column;
    }
}

.colAdv {
    flex: 1;
    justify-content: center;
}
