

#advTitle{
    color: #3f51b5;
}

#advImages{
    height: 470px;
}

#infos{
    float: right;
    width: 50%;
}

#images{
    float: left;
    width: 50%;
}

#createBooking{
    width: 50%;
}

#createFeedback{
    width: 50%;
}


.mySlides{
    width: -webkit-fill-available;
    height: fit-content;
    margin-top: 3%;
    display: none;

}