
/*
Author: Vittorio Esposito
Author: Gabriele Del Fiume
Version: 1.0
Since: 1.0
 */
@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Avenir Next", Sans-serif;
    font-size: 15px;
    font-style: normal;
}

header {
    background-color: #003B95;
    position: relative;
    left:0;
    right:0;
}

#small-logo {

    /* horizontal alignment inside the container*/
    text-align: left;
    padding-left: 20px;
    width:auto;
    height:100%;

    /* vertical alignment inside the container*/
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.topnav {

    color: white;
    font-size: 16px;
    font-weight: 500;

    overflow: hidden;
}

.topnav-right {
    float: right;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #3c99dc;
}

#user-email {
    color: navy;

    text-align: right;
    padding-top: 5px;
    padding-right: 15px;
}

.button {
    transition: all .25s ease-in-out;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    padding: 11px 15px;
    height: 48px;
    width: 200px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    background-color: #003B95;
    border-radius: 2px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    color: #fff;
}

.button:hover{
    background-color: #032e4e;
}

#footer-area {

}