
/*
Author: Vittorio Esposito
Author: Gabriele Del Fiume
Version: 1.0
Since: 1.0
 */
@charset "utf-8";

html {
    scroll-behavior: smooth;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-size: 1rem !important;
    font-style: normal;
    height: 100%;
}

header {
    background-color: #003B95;
    position: relative;
    height: auto;
    left:0;
    right:0;
}

main {
    padding-bottom: 20% !important;
}

.small-logo {

    /* horizontal alignment inside the container*/
    text-align: left;
    padding-left: 20px;
    width:auto;
    max-width: 80%;
    height:100%;

    /* vertical alignment inside the container*/
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.topnav {

    color: white;
    font-size: 1.1rem !important;
    font-weight: 500;

    overflow: hidden;
}

.topnav-right {
    float: right;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    color: #3c99dc;
}

.topnav .icon {
    display: none;
    padding: 14px 16px;
}

@media screen and (max-width: 1024px) {

    /* Hamburger not clicked */
    #header-bar .small-logo {
        display: inline;
    }
    #header-bar .topnav-right {
        float: right;
    }
    #header-bar a {
        display: none;
    }
    #header-bar .icon {
        float: right;
        display: inline;
    }

    /* Hamburger clicked */
    #header-bar.responsive .small-logo {
        display: none;
    }
    #header-bar.responsive .topnav {
        position: relative;
    }
    #header-bar.responsive .topnav-right {
        float: none;
    }
    #header-bar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    #header-bar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

}

#user-email {
    padding-top: 5px;
    display: none;
    color: white;
    text-align: center;
}

.button {
    display: inline-block;
    transition: all .25s ease-in-out;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    padding: 10px 20px;
    line-height: 1.5rem !important;
    font-weight: 500;
    border-radius: 8px;
    background-color: #003B95;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    color: #fff;
}

.button:hover{
    background-color: #032e4e;
}

form > * {
    font-size: 1rem !important;
}

.row {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col {
    flex: 1;
    justify-content: center;
}

@media (max-width:1024px) {
    .item.social {
        text-align:center;
        margin-top:10px;
    }
    .row{
        flex-direction: column;
    }
    #footer-area  .item:not(.social) {
        padding-bottom:10px;
    }
    /*#footer-area  .item.text {*/
    /*    margin-bottom:0;*/
    /*}*/
}

footer a, footer a:hover {
    color: #FFFFFF;
    text-decoration: none !important;
}

.copyright{
    color: #ffffff;
}

.center{
    text-align: center;
    padding-top: 3px;
}

.btnfooter {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    color: #FFFFFF;
    text-decoration: none !important;
    line-height: 1.2;
    background-color: #0A4275;
    border-radius: 30px;
    padding: 3px 20px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

#footer-area {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#footer-area p {
    margin: 5px;
}