<?xml version="1.0" encoding="UTF-8"?>
<!--
 
 Copyright 2018 University of Padua, Italy
 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 
 Author: Giurisato Francesco (francesco.giurisato@studenti.unipd.it)
 Author: Vittorio Esposito
 Version: 1.0
 Since: 1.0
-->

<web-app id="Your-Way-To-Italy-WebApp" version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    
	<display-name>Your Way To Italy</display-name>
	<description>Booking site for experiences in Italy</description>
	
	<!-- Servlets -->

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>it.unipd.dei.yourwaytoitaly.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>it.unipd.dei.yourwaytoitaly.servlet.RegisterServlet</servlet-class>
	</servlet>

    
	<!-- Mapping between servlets and URIs -->

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/src/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/src/register</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ShowAdvertisementListServlet</servlet-name>
		<url-pattern>/src/tourist/homepage</url-pattern>
		<url-pattern>/src/company/profile</url-pattern>
	</servlet-mapping>

</web-app>
